<!DOCTYPE html>
<html lang="pt-br">
<head>
    <div th:replace="~{fragments :: head-links}"></div>
    <title>Cadastro Realizado!</title>
</head>
<body class="layout-centered">

<main>
    <section class="auth-container">
        <h2 class="mb-4">🎉 Quase lá!</h2>
        <p class="lead text-muted">Sua conta foi criada com sucesso.</p>
        <p>Enviamos um e-mail de verificação para você. Por favor, clique no link contido no e-mail para ativar sua conta e poder fazer o login.</p>
        <hr class="my-4">
        <a href="/login" class="btn btn-secondary">Voltar para o Login</a>
    </section>
</main>

</body>
</html>