<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head-links}"></div>
    <title>Conta Verificada!</title>
</head>
<body class="layout-centered">
<main>
    <section class="auth-container">
        <h2 class="mb-4">✅ Conta Ativada!</h2>
        <p class="lead text-muted" th:text="${success_message}">Sua conta foi verificada com sucesso!</p>
        <p>Agora você já pode utilizar suas credenciais para acessar o sistema.</p>
        <hr class="my-4">
        <a th:href="@{/login}" class="btn btn-primary">Ir para o Login</a>
    </section>
</main>
</body>
</html>